<template>
    <div class="col-12 px-0 py-5" id="decision-section">

        <section class="col-11 mx-auto mb-4 mt-2">

            <h2 class="h3 mb-3 mx-auto text-center">
                What do you think about this Tile?
            </h2>

            <hr class="col-5 mx-auto" />

            <tile-swiper
                    :decidee="decidee"
                    @swiped-left="swipeLeft"
                    @swiped-right="swipeRight"
                    @discarded="discardDecidee"
            />

        </section>

    </div>
</template>

<script>
import TileSwiper from "@/components/organisms/TileSwiper";

export default {
    name: "DecisionSection",
    props: [ "decidee" ],
    methods: {
        swipeLeft(){
            this.$emit("swiped-left");
        },
        swipeRight(){
            this.$emit("swiped-right");
        },
        discardDecidee(){
            this.$emit("discarded");
        }
    },
    components: { TileSwiper }
}
</script>
