<template>
    <section class="col-12 px-0 mx-auto py-4 background border-top">

        <div class="container">
            <h3 class="h5 my-4 mx-auto text-center">
                {{ headingText }}:
            </h3>

            <div class="row pb">
                <recommended-tile
                        v-for="tile of recommendations"
                        :key="tile.id"
                        :tile="tile"
                />
            </div>
        </div>

    </section>
</template>

<script>
import RecommendedTile from "@/components/atoms/RecommendedTile";

export default {
    name: "RecommendationsSection",
    components: { RecommendedTile },
    props: [ "recommendations", "preferencesProvided" ],
    computed: {
        headingText(){
            if(this.preferencesProvided) return "You liked some tiles, now we thought you might like these";
            else return "Here you can see some of our finest tiles. These are going to change according to your preferences";
        }
    }
}
</script>

<style scoped>

</style>
