@media screen and (max-width: 500px){
  .p-dialog-footer {
    display: flex;
    justify-content: space-between;
  }
}

#decision-section {
  background: url("./background.png") no-repeat fixed center center ;
  background-size: cover;
}

body, .background {
  background-color: whitesmoke;
}
