<template>
    <main class="container-fluid px-0">

        <top-bar/>

        <Sidebar :visible.sync="sidebar" @hide="sidebar = false" :modal="false">
            <h4 class="">Preferencje</h4>
            <hr/>
            <ul class="list-group list-group-flush">
                <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                        v-for="preference in rs.preferences"
                        :key="preference.tile.id"
                >
                    {{ preference.tile.name }}
                    <span
                            class="badge badge-pill"
                            :class="{
                        'badge-success': preference.preference === PreferenceTypes.POSITIVE,
                         'badge-danger': preference.preference === PreferenceTypes.NEGATIVE
                    }">
                        <i class="pi pi-check" v-if="preference.preference === PreferenceTypes.POSITIVE"></i>
                        <i class="pi pi-times" v-if="preference.preference === PreferenceTypes.NEGATIVE"></i>
                    </span>
                </li>
            </ul>
        </Sidebar>

<!--        {{ filters }}-->

        <div class="data-view-container">

            <DataTable
                    :value="tcs.tilesList"
                    :lazy="true"
                    :paginator="true"
                    :rows="100"
                    :sortOrder="sortOrder"
                    :sortField="sortField"
                    :totalRecords="tcs.allTilesCount" :loading="loading" @page="getMooore"
                    :key="k*3"
            >
                <template #header>
                    <div class="table-header d-flex align-items-center">
                        <Button label="My preferences" class="m-2" @click="sidebar = true" />
                        <InputText v-model="filters.name" placeholder="Tile name" class="m-1" />
                        <Dropdown v-model="filters.average_color_name" :options="allColorsC" placeholder="Tile color" :showClear="true" class="m-1" :key="k" />
                        <Dropdown v-model="filters.shop" :options="['Castorama', 'Cersanit']" placeholder="Tile shop" :showClear="true" class="m-1" :key="k*2" />
                        <ToggleButton
                                v-model="filters.normalized_tags.wewnatrz"
                                onLabel="To inside" onIcon="pi pi-sign-in"
                                offLabel="Not to inside" offIcon="pi pi-times"
                                class="m-1"
                        />
                        <ToggleButton
                                v-model="filters.normalized_tags.zewnatrz"
                                onLabel="To outside" onIcon="pi pi-sign-out"
                                offLabel="Not to outside" offIcon="pi pi-times"
                                class="m-1"
                        />
                        <ToggleButton
                                v-model="filters.normalized_tags.mrozoodpornosc"
                                onLabel="Mrozoodporna" onIcon="pi pi-sort-amount-down"
                                offLabel="Niemrozoodporna" offIcon="pi pi-times"
                                class="m-1"
                        />
                        <InputText v-model="filters.normalized_tags.grubosc" placeholder="Tile thickness" class="m-1" />
                        <Button icon="pi pi-search" class="m-2" @click="searchWithFilters" />
                    </div>
                </template>
                <Column header="Tile">
                    <template #body="slotProps">
                        <div class="d-flex align-items-center">
                            <img :src="slotProps.data.image_url" :alt="slotProps.data.name" class="tile-thumb"/> {{ slotProps.data.name }}
                        </div>
                    </template>
                </Column>
                <Column header="Actions">
                    <template #body="slotProps">
                        <GridViewTile
                                :tile="slotProps.data"
                                @clone-search="cloneSearchParams"
                                @like="likeTile"
                                @dislike="dislikeTile"
                        />
                    </template>
                </Column>
            </DataTable>
        </div>

<!--        <Button label="load more pleaaaseee" @click="getMooore"/>-->

    </main>
</template>

<script>
    import TopBar from "@/components/molecules/TopBar";

    import tcs from "@/models/services/TilesCrudService";
    import rs from "@/models/services/RecommendationService";

    import Sidebar from 'primevue/sidebar';
    import DataTable from 'primevue/datatable';
    import Column from 'primevue/column';
    import ColumnGroup from 'primevue/columngroup';     //optional for column grouping
    import Dropdown from "primevue/dropdown";
    import Button from "primevue/button";
    import InputText from "primevue/inputtext";
    import axios from "axios";
    import ToggleButton from 'primevue/togglebutton';

    import PreferenceTypes from "@/models/enums/PreferenceTypes";
    import GridViewTile from "@/components/molecules/GridViewTile";

    import allColors from "@/models/enums/colors";

    export default {
        name: "Admin",
        data() {
            return {
                PreferenceTypes,
                tcs,
                rs,
                sortKey: null,
                sortOrder: null,
                sortField: null,
                sortOptions: [
                    {label: 'By id descending', value: '!id'},
                    {label: 'By id ascending', value: 'id'},
                    {label: 'By color descending', value: '!average_color'},
                    {label: 'By color ascending', value: 'average_color'},
                    {label: 'By shop descending', value: '!shop'},
                    {label: 'By shop ascending', value: 'shop'},
                    {label: 'By name descending', value: '!name'},
                    {label: 'By name ascending', value: 'name'},
                    {label: 'By type descending', value: '!type'},
                    {label: 'By type ascending', value: 'type'},
                ],
                filters: {
                    name: undefined,
                    average_color_name: undefined,
                    shop: undefined,
                    normalized_tags: {
                        wewnatrz: undefined,
                        zewnatrz: undefined,
                        mrozoodpornosc: undefined,
                        grubosc: undefined
                    }
                },
                sidebar: false,
                loading: true,
                shopsC: [
                    { label: 'Any shop', value: '' },
                    { label: 'Castorama', value: 'Castorama' },
                    { label: 'Cersanit', value: 'Cersanit' },
                ],
                k:1
            }
        },
        computed: {
            allColorsC() {
                return Object.keys(allColors).filter((item)=> item !== "0");
            }
        },
        methods: {
            getMooore() {
                if(Object.values(this.tcs.lastFilters).some((item)=>{ return item !== undefined})) {
                    this.tcs.getSearch(this.tcs.lastFilters).then((data)=>{
                        this.tcs.setFilteredProperties(data);
                    });
                }
                else {
                    this.tcs.getTiles().then((data) => {
                        this.tcs.setProperties(data);
                    });
                }
            },
            searchWithFilters() {
                let requestedFilters = {};
                requestedFilters = Object.assign(requestedFilters, this.filters);
                Object.keys(requestedFilters).forEach((key)=>{
                    if(!requestedFilters[key]) delete requestedFilters[key];
                });
                Object.keys(requestedFilters.normalized_tags).forEach((key)=>{
                    if(!requestedFilters.normalized_tags[key]) delete requestedFilters.normalized_tags[key];
                });

                this.tcs.getSearch(requestedFilters).then((data)=>{
                    this.tcs.setProperties(data)
                });

            },
            dislikeTile(tile) {

                if (this.rs.preferences.map((item) => {
                    return item.tile.id
                }).includes((tile.id))) {
                    const foundPreference = this.rs.preferences.find((item) => {
                        return item.tile.id === tile.id
                    });
                    const foundPreferenceIndex = this.rs.preferences.findIndex((item) => {
                        return item.tile.id === tile.id
                    });
                    if (!(foundPreference.preference === PreferenceTypes.NEGATIVE)) {
                        this.rs.preferences[foundPreferenceIndex].preference = PreferenceTypes.NEGATIVE;
                    }
                } else this.rs.preferences.push(tile.dislike());
            }
            ,
            likeTile(tile) {
                if (this.rs.preferences.map((item) => {
                    return item.tile.id
                }).includes((tile.id))) {
                    const foundPreference = this.rs.preferences.find((item) => {
                        return item.tile.id === tile.id
                    });
                    const foundPreferenceIndex = this.rs.preferences.findIndex((item) => {
                        return item.tile.id === tile.id
                    });
                    if (!(foundPreference.preference === PreferenceTypes.POSITIVE)) {
                        this.rs.preferences[foundPreferenceIndex].preference = PreferenceTypes.POSITIVE;
                    }
                } else this.rs.preferences.push(tile.like());
            },
            cloneSearchParams(tile) {
                this.filters.average_color_name = tile.average_color_name;
                this.filters.shop = tile.shop;
                this.filters.normalized_tags.zewnatrz = tile.normalized_tags.zewnatrz;
                this.filters.normalized_tags.wewnatrz = tile.normalized_tags.wewnatrz;
                this.filters.normalized_tags.mrozoodpornosc = tile.normalized_tags.mrozoodpornosc;
                this.filters.normalized_tags.grubosc = tile.normalized_tags.grubosc;
                this.searchWithFilters();
            }
        },
        components: {
            GridViewTile,
            TopBar,
            Dropdown,
            DataTable,
            Column,
            // eslint-disable-next-line vue/no-unused-components
            ColumnGroup,
            Button,
            Sidebar,
            InputText,
            ToggleButton
        },
        mounted() {
            this.tcs.getTiles().then((data) => {
                console.log(data.results[0]);
                this.tcs.setProperties(data);
                this.loading = false;
            });
        }
    }
</script>

<style scoped>
    /deep/ .p-grid {
        display: flex !important;
        flex-wrap: wrap !important;
    }

    /deep/ .product-grid-item-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .data-view-container {
        width: 100%;
        margin: auto;
        max-width: 1440px;
    }

    /deep/ .card {
        box-shadow: 2px 2px 10px #14141440;
    }

    /deep/ .p-sidebar {
        overflow-y: auto;
    }

    /deep/ .tile-thumb {
        max-height: 60px;
        margin-right: 1rem;
    }

    /deep/ .p-datatable .p-datatable-tbody > tr > td {
        padding: .5rem .5rem;
    }

    /deep/ .p-datatable .p-datatable-thead > tr > th:nth-child(2) {
        text-align: right;
    }
</style>
