<template>
    <main class="container-fluid px-0">

        <top-bar />

        <decision-section
                :decidee="rs.decidee"
                @swiped-left="rs.dislikeDecidee"
                @swiped-right="rs.likeDecidee"
                @discarded="discardDecidee"
                :key="key"
        />

        <recommendations-section
                v-if="rs.recommendations.length"
                :recommendations="rs.recommendations"
                :preferences-provided="rs.hasMinimumData"
                :key="key+2"
        />

        <credits-footer />

    </main>
</template>
<script>
import TopBar from "@/components/molecules/TopBar";
import DecisionSection from "@/components/templates/DecisionSection";
import RecommendationsSection from "@/components/templates/RecommendationsSection";
import rs from "@/models/services/RecommendationService";
import CreditsFooter from "@/components/molecules/CreditsFooter";

export default {
    name: "Tilender",
    data(){
        return {
            rs,
            key: 0
        }
    },
    methods: {
        discardDecidee(){
            this.rs.setNewDecidee();
        }
    },
    created() {
        Promise.all([
            this.rs.getNewDecidee(),
            this.rs.getRecommendations()
        ]).then((data)=>{
            this.rs.decidee = data[0];
            this.rs.recommendations = data[1];
            this.key++;
        });
    },
    components: {
        CreditsFooter,
        TopBar,
        RecommendationsSection,
        DecisionSection
    }
}
</script>
