<template>
    <div class="mt-4">
        <footer class="container">
            <hr class="my-0 mb-4"/>
            <div class="p-2 pb-5 d-flex justify-content-between align-items-center flex-wrap">
                <div>Web application developed by <b>Filip Dobrzyniewicz</b>, <b>Miłosz Głodowski</b> and <b>Paweł Pankiewicz</b>.</div>
                <div class="my-2 my-lg-0">All rights reserved &copy; {{ new Date().getFullYear() }}</div>
            </div>
        </footer>
    </div>
</template>

<script>
export default {
    name: "CreditsFooter"
}
</script>
