<template>
    <div>
        <div class="product-grid-item-bottom d-flex align-items-center justify-content-end">
            <Button icon="pi pi-minus" v-tooltip.bottom="'Diskike tile'" class="m-1 p-button-text p-button-danger" @click="dislike"/>
            <Button icon="pi pi-plus" v-tooltip.bottom="'Like tile'" class="m-1 p-button-text p-button-success" @click="like"/>
            <Button icon="pi pi-search-plus" v-tooltip.bottom="'Clone search parameters'" class="m-1 p-button-text p-button-secondary"  @click="cloneSearchParams"/>
            <Button icon="pi pi-info-circle" v-tooltip.bottom="'Display tile info'" class="m-1 p-button-text p-button-secondary"  @click="openModal"/>
        </div>
        <tile-details-modal :tile="tile" v-if="modal" @closed="closeModal"/>
    </div>
</template>

<script>
    import TileDetailsModal from "../organisms/TileDetailsModal";
    import Button from "primevue/button";
    import Tooltip from "primevue/tooltip";

    export default {
        name: "GridViewTile",
        props: [ 'tile' ],
        data(){
            return {
                modal: false
            }
        },
        directives: {
            'tooltip': Tooltip
        },
        methods: {
            dislike(){
                this.$emit('dislike', this.tile);
            },
            like(){
                this.$emit('like', this.tile);
            },
            cloneSearchParams(){
                this.$emit('clone-search', this.tile);
            },
            openModal(){
                this.modal = true;
            },
            closeModal(){
                this.modal = false;
            }
        },
        components: {
            TileDetailsModal,
            Button
        }
    }
</script>

<style scoped>

</style>
