<template>
    <div class="pt-4 pb-2 background shadow-lg border-bottom">
        <header class="container d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-end mb-2">
            <div class="d-flex align-items-lg-center">
                <img src="../../assets/logo.png" alt="Tilender logo"/>
                <h1 class="m-0 ml-2">Tilender</h1>
            </div>
            <div>
                <h3 class="h5 my-0 text-center text-lg-left mt-3 mt-lg-0">
                    We are here to help you find the
                    <b>perfect match</b>
                    for your bathroom
                    <i class="ml-1 font-weight-bold text-danger pi pi-check-circle"/>
                </h3>
            </div>
        </header>
    </div>
</template>

<script>
export default {
    name: "TopBar"
}
</script>

<style scoped>
    img {
        display: inline;
        height: 40px;
    }

    h1, h3 {
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    }
</style>
