<template>
    <Dialog
            :visible="true"
            :closable="false"
            :style="{width: '60vw'}"
            :modal="true"
            @hide="hideModal"
    >
        <div class="p-m-0 row">
            <div class="col-12 col-lg-8 d-flex flex-column align-items-center">
                <figure class="d-flex flex-column justify-content-center align-items-center">
                    <img width="260" :src="tile.image_url" :alt="tile.name" />
                    <figcaption class="text-center h4">{{ tile.name }}</figcaption>
                </figure>
            </div>
            <div class="col-12 col-lg-4 d-flex flex-column justify-content-center text-justify">
                <ul style="list-style-type: square">
                    <li>
                        Kolor: <span class="font-weight-bold">{{ tile.average_color_name }} ({{ tile.average_color }})</span>
                    </li>
                    <li v-if="tile.pattern">
                        Wzór: {{ tile.pattern }}
                    </li>
                    <li>
                        Znaleziona w sklepie: <span class="font-weight-bold">{{ tile.shop }}</span>
                    </li>
                    <li>
                        Typ płytki: <span class="font-weight-bold">{{ tile.type }}</span>
                    </li>
                    <li v-for="key in informationsProvided" :key="tile.id + key">
                        {{ key }}: <span class="font-weight-bold" v-html="tile.normalized_tags[key] === true ? `<i class='pi pi-check' />` : tile.normalized_tags[key]"></span>
                    </li>
                </ul>
            </div>
        </div>
        <template #footer>
            <modalButton label="Cancel" icon="pi pi-times" @click="hideModal" class="p-button-text p-button-sm"/>
            <modalButton label="Display offer" icon="pi pi-shopping-cart" @click="openOffer" class="p-button-sm" autofocus />
        </template>
    </Dialog>
</template>

<script>
import Dialog from "primevue/dialog";
import modalButton from "primevue/button";

export default {
    name: "TileDetailsModal",
    components: { Dialog, modalButton },
    props: [ "tile" ],
    methods: {
        hideModal(){
            this.$emit("closed");
        },
        openOffer(){
            window.open(this.tile.shop_url, "_blank");
        }
    },
    computed: {
        informationsProvided(){
            return Object.keys(this.tile.normalized_tags).filter((key)=>{ return !!this.tile.normalized_tags[key]; } );
        }
    }
}
</script>

<style scoped>
    .text-justify {
        text-align: justify;
    }
</style>
