<template>
    <div class="d-flex flex-column flex-lg-row justify-content-around align-items-center col-11 mx-auto swiper">

        <swiper-button
                :disabled="!decidee"
                label="No!"
                icon="pi pi-arrow-circle-left"
                iconPos="left"
                class="p-button-danger p-button-raised p-button-rounded p-button-lg swipe-button-left"
                @click="swipeLeft"
        />

        <div class="d-flex flex-column swiper-center">

            <draggable-image
                    v-if="decidee"
                    :url="decidee.image_url"
                    alt="Tile Decidee"
                    @swiped-left="swipeLeft"
                    @swiped-right="swipeRight"
            />

            <spinner v-if="!decidee" />

            <swiper-button
                    :disabled="!decidee"
                    label="I'm not sure, skip"
                    class="p-button-help p-button-text mt-2"
                    @click="discard"
            />

        </div>

        <swiper-button
                :disabled="!decidee"
                label="Yes!"
                icon="pi pi-arrow-circle-right"
                iconPos="right"
                class="p-button-success p-button-raised p-button-rounded p-button-lg swipe-button-right"
                @click="swipeRight"
        />

        <div class="col-11 mx-auto small-screens-swipers">
            <swiper-button
                    :disabled="!decidee"
                    label="No!"
                    icon="pi pi-arrow-circle-left"
                    iconPos="left"
                    class="p-button-danger p-button-raised p-button-rounded p-button-lg swipe-button-left"
                    @click="swipeLeft"
            />
            <swiper-button
                    :disabled="!decidee"
                    label="Yes!"
                    icon="pi pi-arrow-circle-right"
                    iconPos="right"
                    class="p-button-success p-button-raised p-button-rounded p-button-lg swipe-button-right"
                    @click="swipeRight"
            />
        </div>

    </div>
</template>

<script>
import swiperButton from "primevue/button";
import Spinner from "@/components/atoms/Spinner";
import DraggableImage from "@/components/atoms/DraggableImage";

export default {
    name: "TileSwiper",
    props: [ "decidee" ],
    methods: {
        swipeLeft() {
            this.$emit("swiped-left");
        },
        swipeRight() {
            this.$emit("swiped-right");
        },
        discard() {
            this.$emit("discarded");
        }
    },
    components: {DraggableImage, Spinner, swiperButton }
}
</script>

<style scoped>
    .swiper-center img {
        height: 250px;
        margin-bottom: 10px;
    }
    .small-screens-swipers {
        display: none;
    }
    @media screen and (max-width: 990px){
        .small-screens-swipers {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .swiper > .swipe-button-left, .swiper > .swipe-button-right {
            display: none;
        }
    }
</style>
