<template>
    <div>
        <Vue2InteractDraggable
                :interact-max-rotation="10"
                :interact-out-of-sight-x-coordinate="220"
                :interact-x-threshold="280"
                :interact-y-threshold="280"
                :interact-lock-y-axis="true"
                @draggedRight="swipeRight"
                @draggedLeft="swipeLeft"
                v-if="isVisible"
                class="rounded-borders shadow-10 card"
        >
            <img
                    :src="url"
                    :alt="alt"
                    class="shadow draggable-image"
            />
        </Vue2InteractDraggable>
    </div>
</template>

<script>
import {Vue2InteractDraggable} from "vue2-interact"

export default {
    name: "DraggableImage",
    props: ["url", "alt"],
    data() {
        return {
            isVisible: false
        }
    },
    components: {
        Vue2InteractDraggable
    },
    methods: {
        swipeLeft() {
            this.$emit("swiped-left");
        },
        swipeRight() {
            this.$emit("swiped-right");
        }
    },
    watch: {
        url(){
            setTimeout(()=> { this.isVisible = false; });
            setTimeout(()=>{ this.isVisible = true; });
        }
    },
    mounted() {
        this.isVisible = this.url.length > 0;
    }
}
</script>

<style scoped>
    .draggable-image {
        cursor: grab !important;
    }

    .draggable-image.dragged {
        cursor: grabbing !important;
    }
    div {
        max-width: 300px;
        max-height: 300px;
    }
    div img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
</style>

