<template>
    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">

        <div class="card m-3 d-flex flex-column tile-thumbnail shadow-sm" @click="openModal">
            <img width="260" :src="tile.image_url" :alt="tile.name" />
            <div class="overlay">
                {{ tile.name }}
            </div>
        </div>

        <tile-details-modal :tile="tile" v-if="modal" @closed="closeModal"/>

    </div>
</template>

<script>
import TileDetailsModal from "@/components/organisms/TileDetailsModal";
export default {
    name: "RecommendedTile",
    components: {TileDetailsModal},
    props: [ "tile" ],
    data(){
        return {
            modal: false
        }
    },
    methods: {
        openModal(){
            this.modal = true;
        },
        closeModal(){
            this.modal = false;
        }
    }
}
</script>

<style lang="scss" scoped>
    .tile-thumbnail {
        position: relative;
        width: 260px;
        overflow: hidden;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
            transform-origin: 50% 50%;
            transition: transform .75s, visibility .25s ease-in-out;
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            color: #FFF;
            text-align: center;
            transition: display .2s .05s ease-in;
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
        }
        &:hover img {
            /*filter: blur(2px);*/
            /*transform: scale(1.8);*/
        }
        &:hover .overlay {
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0, 0, 0, .3);
        }
        &:hover {
            transform: scale(1.1);
            transition-duration: .2s;
            transition-timing-function: ease-in-out;
        }
    }
</style>
