<template>
    <div class="col-12 my-4 d-flex justify-content-center align-items-center">
        <progress-spinner />
    </div>
</template>

<script>
import ProgressSpinner from "primevue/progressspinner";

export default {
    name: "spinner",
    components: { ProgressSpinner }
}
</script>

<style scoped>

</style>
