<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

<!--    <link rel="manifest" href="manifest.json">-->

    <meta property="og:title" content="Tilender" />
    <meta name="description" content="We help you browse and decide on the best tiles to your bathroom." />
    <meta property=”og:description” content="We help you browse and decide on the best tiles to your bathroom." />
    <meta name="keywords" content="Tile, recommend, recomendation, tiles, swipe" />
    <meta property="og:url" content="https://yourproject.yourdomain.com/#/" />

    <meta property="og:image" content="img/og-image.png" />
    <link rel="icon" href="<%= BASE_URL %>favicon.png">

    <meta name="theme-color" content="#b8413a">

    <meta name="author" content="Filip Dobrzyniewicz, Miłosz Głodowski, Paweł Pankiewicz" />
    <meta name="copyright" content="Filip Dobrzyniewicz, Miłosz Głodowski, Paweł Pankiewicz" />

    <title>Tilender</title>

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
